@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: 100%; 
}

.header{
   
    display: flex;
    flex-direction: row;
    margin:1rem;
    justify-content: space-between;
    align-items: center;
}

.head img{
    width: 8%;
    margin: 0;
    float: right;
}


.name{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #F83783;
    margin-left: 2%;
}

/*intrudution*/
.intruduction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1.3rem;
}

p{
   text-align: center; 
   font-weight: 700;
   font-size: 1.65rem;
   font-family: 'Roboto', sans-serif;
}

.names{
    color: #F83783;
}

.image{
    background-color: #E9E6E6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 11rem 10rem 0rem 0;
    width: 48%;
    padding: 2rem 3rem 0 1.8rem;
    margin-top: 1.6rem;
}

img{
    width: 90%;
}

/*experience*/
.experience{
    background-color: #3A3A3A;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    flex-direction: column;
}

p.job{
    font-size: 1.5rem;
}
p.year{
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0;
    
}

.information{
    border-bottom: 0.07rem solid rgb(255, 255, 255);
    width: 60%;
    padding: 1rem 0rem 1em 0;
}

.information.based{
    border: 0;
}

/*contact*/
.contact{
    background: #CE2F6E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
    font-family: 'Roboto', sans-serif;
}

.client{
    text-align: center;
    width: 60%;
    padding: 1rem 0 1rem 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: #FFFFFF;
}

.button{
    padding: 0.4rem 1rem 0.4rem 1rem;
    color: #CE2F6E;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 2rem;
    border: 0;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}

/* ABOUT */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.7rem;
}

.image.about{
    width: 33%;
    margin-top: 0;
    padding-right: 2rem;
}

p.text{
    font-size: 1.2rem;
    width: 78%;
    text-align: center;
}

/* Skill Set */
.skillt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

h3{
    margin: 5% 0 0.5rem 0;
}

.box{
    width: 45%;
    background-color: #CE2F6E;
    margin: 0 0 8% 27.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.15rem;
    font-family: 'Roboto', sans-serif;
    color: #E9E6E6;
    height: 12.5rem;
    padding-top: 1rem;
    border-radius: 1rem;
}

.box.frontend{
    margin: 0 0 8% 27.5%;
}

.skill .box p{
    font-size: 1em;
    margin: 0;
    color: #E9E6E6;
    margin: 0.6rem 0 1rem 0;
}

.skill p{
    color: #CE2F6E;
    margin: 2rem 0 0 rem;
}

